@charset "UTF-8";


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body, html {
        background-image: linear-gradient(to top, #127373, #5DA6A6);
    }

    
    section#login {
        display: flex;
        width: 70vw;
    }
    div#imagem {
        
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        display: block;
        text-align: center;
        width: 70%;
        padding: 10px;
        
       
    
    }

    

  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body, html {
        background-image: linear-gradient(to top, #127373, #5DA6A6);
    }
    
    section#login {
        display: flex;
        width: 60vw;
    }
    div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    #formulario {
        display: block;
        text-align: center;
        width: 60%;
        padding: 10px;
        
       
    
    }

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body, html {
        background-image: linear-gradient(to top, #127373, #5DA6A6);
    }

    section#login {
        display: flex;
        width: 1100px;
    }
    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario {
        display: block;
        text-align: center;
        width: 50%;
        padding: 10px;
        
       
    
    }
    

    
  }